APP_ENV=development
LOG_LEVEL=INFO
CORS_ORIGINS=http://localhost:5175,http://127.0.0.1:5175,http://yoradm.trialnerror.in,https://yoradm.trialnerror.in

MYSQL_HOST=trialnerror.in
MYSQL_PORT=3306
MYSQL_USER=sysadmin
MYSQL_PASSWORD=Apple@1239
MYSQL_DATABASE=sivendhi2.trueerp.in

JWT_SECRET_KEY=0d6abd4a11ce1c764d85bfab9f75a328bbcdd62f7b518ac11d9696bf1002353a
JWT_ALGORITHM=HS256
JWT_ACCESS_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRE_DAYS=7

ADMIN_EMAIL=admin@yoradm.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ChangeMe123!
ADMIN_FULL_NAME=System Admin
